<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Ignazweis</title>
		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/script.js" defer></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div>
			<nav>
			<a href="/">Listas</a> |
			<a href="/posts/">Posts</a> |
			<a href="/about/">Sobre mim</a>
			</nav>
			<button id="themeBtn">Tema</button>
		</div>
		{{ content | safe }}
	</body>
</html>
