<section>
    <nav>
        <small>
            <span class="copyright">© 2021 ignazweis and contributors
                (<a class="license_content" href="/LICENSE-content.txt">Content CC-BY-SA-4.0</a>,
                <a class="license_code" href="/LICENSE-code.txt">Code MIT</a>)
                /
                <a href="/feed.xml">RSS feed</a>
            </span>
        </small>
    </nav>

    <nav>
        <small>
            <a href="https://mastodon.social/@ignazweis_">Mastodon</a>
            /
            <a href="https://github.com/ignazweis/ignazweis.github.io">Github</a>
            /
            <a href="https://github.com/ignazweis">Github Profile</a>
        </small>
    </nav>
</section>
