<section class="">
    <nav class="navigation_copyright_licenses">
        <small class="small_copyright_licenses">
            <span class="copyright">© 2021 ignazweis and contributors
                (<a class="item_license" href="/LICENSE-content.txt">Content CC-BY-SA-4.0</a>,
                <a class="item_license" href="/LICENSE-code.txt">Code MIT</a>)
                /
                <a href="/feed.xml">RSS feed</a>
            </span>
        </small>
    </nav>

    <nav class="navigation_find_me">
        <small class="small_find_me">
            <a class="item_find_me" href="https://mastodon.social/@ignazweis_">Mastodon</a>
            /
            <a class="item_find_me" href="https://github.com/ignazweis/ignazweis.github.io">Github</a>
            /
            <a class="item_find_me" href="https://github.com/ignazweis">Github Profile</a>
        </small>
    </nav>
</section>
