<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title | escape }}</title>
<link rel="stylesheet" href="/assets/css/normalize.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="icon" href="/assets/images/favicon-dark.svg" media="(prefers-color-scheme: light)">
<link rel="icon" href="/assets/images/favicon-light.svg" media="(prefers-color-scheme: dark)">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">
<meta name="color-scheme" content="light dark">
{% feed_meta %}
{% seo %}
