:root {
    --foreground: #111111;
    --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #ffffff;
        --background: #111111;
    }
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

html {
    padding: 1rem;
}

body {
    border: 1px solid var(--foreground);
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;

}

main {
    padding: 1rem;
}

footer {
    border-top: 1px solid var(--foreground);
    padding: 1rem;
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #00B2FF;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--foreground);
}

.nav_bar {
    display: flex;
}

.nav_item {
    display: flex;
    border-right: 1px solid var(--foreground);
}

.nav_link {
    color: #eaeaea;
    text-decoration: none;
    padding: 1rem;
}

.logo {
    width: 32px;
    height: 32px;
}

.posts_post {
    border: 1px solid var(--foreground);
    padding: 1rem;
}

.post_description {
    border: 1px solid var(--foreground);
    padding: 1rem;
}

.toc {
    border: 1px solid var(--foreground);
}

.post_content {
    border: 1px solid var(--foreground);
    padding: 1rem;
}

@media screen and (max-width: 800px) {
    .posts_post {
        border: 0;
        padding: 0;
    }

    .post_description {
        border: 0;
        padding: 0;
    }

    .post_content {
        border: 0;
        padding: 0;
    }
}
